@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');
h1,h2,h3,h4,h5,h6,p{
font-family: 'Open Sans', sans-serif;
margin: 0;
}
body {
    margin: 0;
}
.item-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
button{
    background-color: #A491D2;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
}
button:hover{
    background-color: #CDC3E6;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
}
button:focus{
   background-color: #BEC1BB;
   color: white;
    border: none;
    width: 150px;
    height: 40px;

}
.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    
}

.item-primero,
.item-button,
.item {
    flex-basis: auto;
}

.contactos {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8ebe4;
    flex: 5;
    ;
}
.hand {
    text-align: center;
}
.hand h1{
    padding-top: 5%;
}
.img-principal {
    height: 30vh;
    margin-top: 5%;
}

.thumbnail-s img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px #BEC1BB solid;
    margin-top: 15%;
    margin-bottom: 15%;
}
.thumbnail-l img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 15%;
    margin-bottom: 15%;
    border: 2px #BEC1BB solid;
}


.item-primero{
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    align-items: center;
    border: 1px #BEC1BB solid;
    flex-wrap: wrap;
    padding: 1%;
}
.item-button {
    display: flex;
    flex-direction: row;  
    align-items: center;
    border: 1px #BEC1BB solid;
    padding: 1%;
}
.item {
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px #BEC1BB solid;
}
.links{
    display: flex;
    gap: 15px;
    
    
}
.links i{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #BEC1BB;
}
.contactos .item-primero p{
    color: #BEC1BB;
}
.large{
    font-size: 45px;
}
.medium{
    
    font-size: 16px;
}
.small{
    font-size: 14px;
}
.x-small{
    font-size: 10px;
}
